.modal-content {
    border-radius:0;
}

.modal-header{
    color:#fff;
    background:#0943a6;
}

.close{
    color:#fff;
    opacity:0.5;
    text-shadow:none;
}

.close:hover{
    opacity:1;
    color:#fff;
}

.modal-footer{
    background:#ecf0f1;
    padding:10px;
}

.btn{
    border-radius:0;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    left: auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

    .modal-sm {
        width:300px;
    }
}

.modal-sm {
    width:300px !important;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}