html{
	height:100%;	
}
body{
	height:100%;
	padding-top: 70px;
    overflow-x:hidden;
}

.navbar-default {
  background-color: #0943a6;
  border-color: #052f77;
  background-image: none;
  background-repeat: no-repeat;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-brand,
.navbar-nav > li > a {
    line-height: 70px;
    height: 70px;
    padding-top: 0px;
	padding-bottom:0px;
	font-size:18px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav >li{
	min-width:120px;
	text-align:center;	
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background:#052f77;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  border:2px solid #0943a6;
  padding-top:0 !important;
  padding-bottom:0 !important;
}
.dropdown-menu .divider {
	background-color:#0943a6;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
  padding-top:10px;
  padding-bottom:10px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover{
  color: #ffffff;
  background-color: #052f77;
  background-image: none;
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0943a6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #052f77;
  background-image: none;
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #052f77;
  background-image: none;
  background-repeat: no-repeat;
}
.navbar-default .navbar-toggle {
  border-color: #052f77;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #052f77;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

footer{
	bottom:0;
	width:100%;	
	background-color:#ecf0f1;
    color:#000;
	height:40px;
	line-height:40px;
	z-index:1000;
    height:100%;

}

.footer-fixed{
    position:fixed;
    height:40px;
}

.footer-padding{
    padding-bottom:40px;
}

.content{
	margin-bottom:40px;	
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #ffffff;
    background-color: #0943a6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #052f77;
  }
}

.clickable{
	cursor:pointer;
}

#profile_button {
    min-width:160px !important;
}

.dropdown-menu{
    text-align:left;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron{
    margin-right: -15px;
    margin-left: -15px;
    background-image: url(../Resources/coverImage.jpg);
    background-size:cover;
    height:400px;
    background-position-y:bottom;
    color:#ffffff;
}

.custom-button{
    border-radius:0;
}

.border-right{
    border-right:1px solid #ccc;
}

.infobox{
    border-bottom:1px solid #ccc;
    height:300px;
    padding-bottom:60px;
}

.contact{
    height:300px;
    background-color:#ecf0f1;
}

.section-title{
    color: #34495e;
    font-weight: bold;
    margin-bottom: 20px;
}
.custom-field{
    border-radius:0 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #0943a6;
    border:none !important;
    border-radius:0 !important;
}

textarea {
    resize: none;
    border-radius:0 !important;
}

.sandrelena-heading{
    color:#0943a6;
    font-weight:bold;
}

.sandrelena-sub-heading{
    margin-top: -15px;
    padding-left: 80px;
}

.margin-top-md{
    margin-top:30px;
}

.padding-left-sm{
    padding-left:15px;
}

.padding-bottom-md {
    padding-bottom:30px;
}

.padding-top-md{
    padding-top:30px;
}


.info-table > thead > tr > th,
.info-table > tbody > tr > th,
.info-table > thead > tr > td {
    background:#ccc;
}


.list-table > thead > tr > th,
.list-table > tbody > tr > th,
.list-table > thead > tr > td {
   background:#0943a6;
   color:#ffffff;
}


.info-table thead > tr > th,
.info-table tbody > tr > th,
.info-table tfoot > tr > th,
.info-table thead > tr > td,
.info-table tbody > tr > td,
.info-table tfoot > tr > td {

   border:none;
   border:1px solid #ccc;
}


.list-table thead > tr > th,
.list-table tbody > tr > th,
.list-table tfoot > tr > th,
.list-table thead > tr > td,
.list-table tbody > tr > td,
.list-table tfoot > tr > td {

   border:none;
   border-bottom:1px solid #ccc;
}


.nav-sidebar>li>ul>li{
    padding-left:20px;
}

.list-table tbody > tr:hover{
    background:#ecf0f1;
}