<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/font-awesome.css"/>
    <include path="~/Content/alerts.css"/>
    <include path="~/Content/Site.css" />
    <include path="~/Content/sidebar.css"/>
    <include path="~/Content/css/select2.css"/>
    <include path="~/Content/sandrelena-select.css"/>
    <include path ="~/Content/sandrelena-modal.css"/>
    <include path ="~/Content/bootstrap-datepicker.min.css"/>
  </styleBundle>
</bundles>